<div class="container">
    <h2 class="text-center mt-3">Кошик</h2>
    {{#if cartQuantity}}
    <table class="table table-hover cart-table mt-3">
        <thead class="thead-light">
            <tr>
                <th scope="col">Назва страви</th>
                <th scope="col">Вартість/порція</th>
                <th scope="col">Кількість</th>
                <th scope="col">Керування</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {{#each cart.dishes}}
                <tr class="cart-dish">
                    <th>{{{name}}}</th>
                    <th>{{{price}}}</th>
                    <th><input type="number" min="1" value="{{{quantity}}}" class="form-control w-1"></th>
                    <th><div class="btn-table-group">
                    <button class="btn btn-danger btn-delete" data-id="{{{dishId}}}" onclick="deleteFromCart(event)">Видалити</button></div></th>
                </tr>
            {{/each}}
        </tbody>
          <tr>
            <td colspan="2" class="text-right">До сплати:</td>
            <td id="totalPrice" class="text-left font-weight-bold">{{cartTotal}}</td>
            <td><div onclick="updateCart(event)" class="btn btn-primary float-right">Оновити кошик</div></td>
            </tr>
        </tfoot>
    </table>
    <div class="container">
        <h2 class="text-center mt-3">Підтвердити замовлення</h2>
        <form class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <div class="form-group">
                <label for="deliveryAdress">Адреса доставки</label>
                <input type="text" class="form-control" id="deliveryAdress" name="deliveryAdress" required>
            </div>
            <div class="form-group">
                <label for="userPhone">Номер телефону (+380-11-11-11-111)</label>
                <input type="tel" class="form-control" name="tel" id="userPhone" name="userPhone" required pattern="+380[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{3}">
            </div>
            <div class="btn btn-primary float-right" id="btnSub" onclick="confirmOrder()">Підтвердити</div>
        </form>
        <div id="confirmMessage" class="row d-none text-success text-center">Замовлення відправлене на обробку оператором</div>
    </div>

    {{else}}
    <div class="row text-center">Ви ще нічого не замовили</div> 
    {{/if}}
</div>